

body {margin: 0 auto; width: 1070px; background-image:url(/Images/389344.jpg);}

#topMenuMiddlePan{width:200px; height:16px; float:left;}
#topMenuMiddlePan {background:#fff; color:#0574AF; text-decoration:none; font:12px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-transform:uppercase;}

#bodyLeftPan {width:810px; height:25px;  color:#00111A; font:14px/14px Georgia, "Times New Roman", Times, serif; padding:25px 0 0;}

#table th,td{padding:5px;text-align:left;vertical-align: top}